.header {
    display: flex;
    justify-content: space-between;
    padding: 14px 40px;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.title {
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 6px;
}

.menu > span {
    padding: 10px 20px;
}

.menu > span:hover {
    background-color: #323232;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.video {
    margin-top: -6px;
}
