.wrapper {
    display: flex;
    gap: 30px;
}

.title {
    font-size: 54px;
    font-weight: 700;
}

.subtitle {
    color: var(--gray-9);
    font-size: 24px;
    line-height: 32px;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.infoBlock {
    display: flex;
    gap: 32px;
    flex-direction: column;
    width: 540px;
}

.techStack {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 24px;
    margin-top: 80px;
}

.links {
    display: flex;
    gap: 14px;
}

.linkedIn:hover {
    cursor: pointer;
    fill: #0077b5;
}

.github:hover {
    cursor: pointer;
    fill: #6e5494;
}