.wrapper {
    padding-top: 150px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.blockWrapper {
    display: flex;
    gap: 40px;
    padding: 30px;
    border-radius: 18px;
    background-color: var(--gray-5);
    width: 800px;
    margin-top: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.vector {
    position: absolute;
    z-index: -1;
    width: 110rem;
    left: -500px;
}

.title {
    font-size: 42px;
    font-weight: 700;
    color: var(--blue-1)
}

.subtitle {
    font-size: 24px;
}