.wrapper {
  margin-top: 300px;
}

.acceptanceBlock {
  display: flex;
  gap: 30px;
  align-items: start;
  margin-bottom: 200px;
}

.text {
  width: 500px;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 16px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.arrow {
  width: 40px;
  height: 40px;
}

.projectsTitle {
  color: #3587ed;
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 700;
}